html {
    background-color: #E36F65;
}

#page-top {
    font-family: 'Gothic A1', sans-serif;
}

.dropdown .dropdown-toggle {
    border: none;
    outline: none;
    background-color: inherit;

}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.languageBtn {
    margin-top: 1%;
}

.navbar-nav {
    margin-left: 50%;
}




