/* Other styles for the page not related to the animated dropdown */

body {
    background: #E36F65;
    background: linear-gradient(to right, #E36F65, #FFE5A8);
}

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: inherit;
    background: gray;
}

/* HEADER CLIENT */
#dropdownMenuButton {
    border: none;
    outline: none;
    background-color: inherit;
}

#dropdownMenuButton:hover {
    display: block;
}

